<% layout("/layouts/boilerplate") %>
<!-- iss link mae code likha hua hai wo direct copy ho jayega issme -->
 

    <div class="row">
        <div class="col-8 offset-3">
             <h3><%= listing.title  %></h3>
        </div>
    
    <div class="card col-6 offset-3 show-card listing-card">
     <div id="listingCarousel" class="carousel slide mb-3" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% listing.images.forEach((img, i) => { %>
      <div class="carousel-item <%= i===0 ? 'active' : '' %>">
        <img src="<%= img.url %>" class="d-block w-100" 
             style="height:400px; object-fit:cover; border-radius:12px">
      </div>
    <% }) %>
  </div>
  <% if(listing.images.length > 1) { %>
  <button class="carousel-control-prev" type="button" data-bs-target="#listingCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#listingCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
  <% } %>
</div>
      <div class="card-body">
    <p class="card-text">Owned by: 
        <i><%= listing.owner.username  %></i></p>
      <p class="card-text"> <%= listing.description  %> </p>
      <p class="card-text"> &#8377;  <%= listing.price.toLocaleString("en-IN") %> </p>
      <p class="card-text">  <%= listing.location  %> </p>
      <p class="card-text"> <%= listing.country  %></p>
    </div>
    </div>
    <!-- <ul>
        <li><%= listing.title  %></li>
        <li><%= listing.owner  %></li>
        <li><%= listing.description  %></li>
        <li> &#8377;  <%= listing.price.toLocaleString("en-IN")  %></li>
        <li><%= listing.location  %></li>
        <li><%= listing.country  %></li>
    </ul> -->
    <br>


    <!-- yahan pr edit aur delete button hai -->
     <!-- conition lagao ki jo iska actual owner ho usko hi ye button dikhai de.. baki kisi or ko nahi -->
    <% if(currUser && listing.owner._id.equals(currUser._id)) { %>
     <!-- agar curr user ki jo id hai wo listing owner ki id ho .. tab hi usko ye dono button show ho.. baki kisi ko nahi -->
    <div class="btns">
    <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit </a>
   
    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
        <button class="btn btn-dark offset-5">Delete </button>
    </form>
    </div>
    <% } %>



  <div class="col-8 offset-3">
    <hr>

    <!-- agar user login ho tab hi usko review add kare ka option show ho -->
      <% if(currUser) {%>
    <h4>Leave a review</h4>
    <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">


        <!-- <div class="mb-3 mt-3">
            <label for="rating" class="form-label">Rating</label>
            <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
        </div>
         -->

        <!-- star wala rating add karne ke liye -->
         <div class="mb-3 mt-3">
         <label for="rating" class="form-label">Rating</label>

<fieldset class="starability-slot">
  <!-- <legend>First rating:</legend> -->

  <!-- ye deafult wale ke liye hsin -->
  <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />


  <input type="radio" id="first-rate1" name="review[rating]" value="1" />
  <label for="first-rate1" title="Terrible">1 star</label>
  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
  <label for="first-rate2" title="Not good">2 stars</label>
  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
  <label for="first-rate3" title="Average">3 stars</label>
  <input type="radio" id="first-rate4" name="review[rating]" value="4" />
  <label for="first-rate4" title="Very good">4 stars</label>
  <input type="radio" id="first-rate5" name="review[rating]" value="5" />
  <label for="first-rate5" title="Amazing">5 stars</label>
</fieldset>

</div>

        <div class="mb-3 mt-3">
            <label for="comment" class="form-label"> Comments</label>
            <textarea name="review[comment]" id="comment" cols="30" rows="5  " class="form-control" required></textarea>
            <!-- isko likhne se  Please add some comments for review... ye error mae show hoga  -->

            <!-- client side validation isko bol skate hai -->
                <div class="invalid-feedback">
                Please add some comments for review
                </div>
        </div>
        <button class="btn btn-outline-dark">Submit</button>
    </form>
    <% } %>

    <h4>All Reviews</h4>
    <!-- <ul>
        <% for(review of listing.reviews){%>
            <li><%= review.comment %>, <%= review.rating %>  stars</li>
            <%}%>
    </ul> -->
     <div class="row">
    <% for(review of listing.reviews){%>
        <div class="card col-5 ms-3 mb-3">
            <div class="card-body">
                <h5 class="card-title">@<%= review.author.username %></h5>
                  <!-- star rating ko sghow karne ke liye add karoo issme -->

                 <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
                <p class="card-text"><%= review.comment %></p>
                <!-- <p class="card-text"><%= review.rating %> star</p> -->

             </div>        

            <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" class="mb-3" method="POST">
                <button class="btn btn-sm btn-dark">Delete</button>
            </form>
        </div>
          <%}%>   
  </div>
  </div>
</div>
